<h2>Contas</h2>

<table>
  <tr>
    <th>Nome da Conta</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  <tr>
  <% @accounts.each do |account| %>
    <tr>
      <td><%= link_to account.name, edit_account_path(account) %></td>
      <td><%= link_to "Financial Records", account_financial_records_path(account) %></td>
      <td><%= link_to "Delete", account_path(account),
                method: :delete,
                data: { confirm: "Are you sure?" } %>
    </tr>
  <% end %>
</table>

<%= link_to "Nova conta", new_account_path %>